body {
background-color: #CFCFCF  ;
/*  font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;*/
  font-family: tahoma;
  font-size: 16px;
  color: black;
  margin: 0 auto;

}

#navigation {
  background-color: yellow;
  padding: 10px 10px 10px 10px;
  float: left;
  width: 100%;
  border-bottom: 5px solid #000;
  color: black;
  margin-bottom: 20px;
}

#navigation ul li {
  display: inline;
  padding: 10px;
  margin-right: 50px;
  color: black;
  font-size: 20px;

}


#navigation ul li a {
  color: black;
  text-decoration: none;


}

#nav-header, #logo, #menu {
  width: 100%;
}

#nav-header {
  float:left;
}

#logo {
  float:left;
}

.logo-image {
  border: 5px solid #000;
  height: 200px;
}

#menu {
  float: right;
  border: 5px solid #000;
  width: 400px;
  margin-top: 160px;
}

#content {
  margin: 0 auto;
  border: 5px solid #000;
  width: 80%;
  clear: both;
  padding: 10px;
  color: #000000;
  text-align: center;
}
